/* * {
    background-color: #ffffff;
} */


/* Navbar */
#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar>img {
    height: 40px;
}

#main-menu {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    list-style-type: none;
}

#main-menu>li>a {
    text-decoration: none;
    color: #707070;
}

#navbar>button {
    background-color: #B68C5A;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    cursor: pointer;
}


/* Hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/image/Hero-bg-img.png');
    background-size: cover;
    background-position: center;
    width: 84%;
    height: 350px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 40px;
}

.hero-h1,
.hero-text {
    background-color: transparent;
    color: #ffffff;
    width: 40%;
    text-align: center;
    margin: 10px;
}

.input-group {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
    width: 40%;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.input-btn {
    background-color: #B68C5A;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
}


/* Main section */
.main {
    padding: 50px 0;
    width: 82%;
    margin: 0 auto;
}

/* About section */
.about-h2 {
    text-align: center;
    color: #414040;
}

.about-text {
    text-align: center;
    color: #707070;
}

.about-first-row {
    display: flex;
    align-items: baseline;
    text-align: center;
    margin-top: 64px;
}

.first-row-first-child {
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.first-row-second-child {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    background: linear-gradient(to bottom, #F3F3F3, #f3f3f300);
}

.first-row-third-child {
    border-bottom: 1px solid #E7E7E7;
}

.about-first-row>div {
    padding: 35px;
}

.about-first-row>div>img {
    width: 40px;
    background-color: transparent;
}

.about-first-row>div>h3 {
    color: #414040;
    background-color: transparent;
}

.about-first-row>div>p {
    color: #707070;
    background-color: transparent;
}

.about-first-row>div>i>img {
    width: 25px;
}

.about-second-row {
    display: flex;
    align-items: baseline;
    text-align: center;
}

.second-row-second-child {
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}

.second-row-second-child {
    padding: 50px 35px 35px 35px !important;
}

.about-second-row>div {
    padding: 35px;
}

.about-second-row>div>img {
    width: 40px;
}

.about-second-row>div>h3 {
    color: #414040;
}

.about-second-row>div>p {
    color: #707070;
}

.about-second-row>div>i>img {
    width: 25px;
}

/* faq */
.faq-section {
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
}

.faq-h2 {
    text-align: center;
    color: #414040;
}

.faq-text {
    text-align: center;
    color: #707070;
}

.faq-main {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 50px;
}

.faq-main>img {
    width: 380px;
}

.sec-1,
.sec-2,
.sec-3,
.sec-4 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #F3F3F3;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sec-1>span>h3 {
    color: #414040;
}

.sec-1>span>p {
    color: #707070;
}

.sec-2>h3, .sec-3>h3, .sec-4>h3 {
    color: #414040;
}